.Fitness-User-Info {
    margin-top: 25px;  
    margin-left: 100px;
}
.Fitness-User-Info p{
    margin-bottom: 0;
    margin-top: 0;
}
.Fitness-User-Info img{
    height: 70px;
}
.container-greeting {    
    margin-top: 10px;
    margin-bottom: 30px; 
    width: max-content;  
    height: auto;   
}